In [2]:
import pandas

list_of_things = []
for fruit in ['apple','pear','tomato']:
    list_of_things.append({
        'name': fruit,
        'goodness': len(fruit)
    })
df = pandas.DataFrame(list_of_things)
df

     name  goodness
0   apple         5
1    pear         4
2  tomato         6

In [2]:
import pandas
import itertools


list_of_things = []

fruit = ['apple','pear','tomato']
veggies = ['asparagus']

for i,j in itertools.zip_longest(fruit,veggies):
    if j == None:
        j = veggies[0]
    list_of_things.append({
        'fruity': i,
        'veggish': j
    })
df = pandas.DataFrame(list_of_things)
df

   fruity    veggish
0   apple  asparagus
1    pear  asparagus
2  tomato  asparagus

In [7]:
my_dict = {'This': 1, "Is": 2, "A": 3}

my_dict['Test'] = 4

print(my_dict['A'])

3

In [17]:
from collections import Counter
lis = [1,2,3,4,5]
liz = [1,2,3,4]
print(Counter(lis))


if Counter(list(set(lis))) == Counter(liz):
    print('You did it!')

print(range(len(liz)+1))

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1})
range(0, 5)

In [18]:
import itertools

for i,j in itertools.zip_longest(liz,lis):
    print(i)

1
2
3
4
None

In [10]:
tes = 'origin: commercial source,99 weight % (total)'

pure = ""
for i in tes:
    if i.isdigit() or i == ".":
        pure = pure + str(i)

print(float(pure))

99.0

In [13]:
import ConversionLibrary as CL

test_tuple = ("","","","35,0","","T","C")


print(CL.Temperature_CtoK(test_tuple))

['double', 308.15, 0.0, 'K', 'temperature']

In [2]:
from conversion_bridge import conversion_bridge

val = 300
unc = 0
var = 'T'
in_unit = 'K'
out_unit = 'K'

conversion_bridge(val, unc, var, in_unit, out_unit)

:)

['double', 300, 0, 'K', 'T']

In [11]:
from validation_bridge import validation_bridge

val = 5000
var = 'HW'
in_unit = 'kg/m**3'
rep = 'A'

tester = validation_bridge(val, var, in_unit, rep)
print(tester)
print(tester[3].replace('value: ', ''))

['bool', 'False', 0.0, 'ERROR: Direct Representation of Relational Value', 'hw']
ERROR: Direct Representation of Relational Value